name: Build Windows EXE

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build (onedir)
        shell: pwsh
        run: |
          python -m PyInstaller --onedir --windowed --name Renamer --icon "assets\logo.ico" --clean --noconfirm --add-data "assets;assets" --add-data "retro.qss;." --add-data "poppler\Library;poppler\Library" --add-data "tesseract;tesseract" main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Renamer-onedir
          path: dist/Renamer/**
